.backimage{
    background-image: url("../images/index/1.jpg");
}

.backimage_index{
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-image: url("../images/index/8.jpg");
}

.indextextmain{
    width: 80%;
    padding-top: 6%;
    
}

.indeximg{
    width: 20%;
    float: left;
    padding: 3%;
}

.indeximg>img{
    padding-bottom: 4%;
    width: 100%;
    height: 100%;
}

.indextextmain>p{
    color: white;
    font-size: auto;
}
