.backimage{
    background-image: url("../images/AClass/1.jpg");
}

table,th,td{ 
    border: 1px solid black;
    font-size: auto;
    color: white;
}

.table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(82, 77, 77);
}

.tr{
    background-color: rgba(0, 0, 0, 0.356);
}

.tr > td{
    width: 50%;
}

.td{
    text-align: center;
}